<div class="card bg-black-100 w-12 p-3 pb-1">
    <!-- Filter Container -->
    <form [formGroup]="filterForm" class=" flex md:flex-row flex-column md:justify-content-between justify-content-start align-items-start gap-4">
        <!-- By Category -->
        <div class="md:w-6 w-12">
            <span class="min-w-max text-xl ">Category</span>
            <div class="w-12 flex flex-row flex-wrap justify-content-start align-items-center gap-1 mt-2">
                <span *ngFor="let item of productList | slice:0:8 | Categories ">
                    <p-button label="{{item}}" (click)="filterProductByCategory(item)"
                        styleClass="p-button-outlined"></p-button>
                </span>
            </div>
        </div>
        <!-- By Price Range -->
        <div class="md:w-3 w-12 flex flex-column align-items-center">
            <span class="w-12 text-xl text-left ">Price Range</span>
            <div class="w-12 flex flex-column justify-content-start align-items-start gap-2 mt-2">
                <div class="w-12 flex flex-row justify-content-start">
                    <span class="w-3rem">From</span>
                    <p-inputNumber class="md:flex-grow-0 flex-grow-1 h-2rem" formControlName="minPrice">
                    </p-inputNumber>
                </div>
                <div class="w-12 flex flex-row justify-content-start">
                    <span class="w-3rem">To</span>
                    <p-inputNumber class="h-2rem" formControlName="maxPrice"> </p-inputNumber>
                </div>
            </div>
        </div>
        <!-- By Discount Range -->
        <div class="md:w-3 w-12 flex flex-column align-items-center">
            <span class="w-12 text-xl text-left ">Discount Range</span>
            <div class="w-12 flex flex-column justify-content-start align-items-start gap-2 mt-2">
                <div class="w-12 flex flex-row justify-content-start">
                    <span class="w-3rem">From</span>
                    <p-inputNumber class="md:flex-grow-0 flex-grow-1 h-2rem" formControlName="minDiscount">
                    </p-inputNumber>
                </div>
                <div class="w-12 flex flex-row justify-content-start">
                    <span class="w-3rem">To</span>
                    <p-inputNumber class="h-2rem" formControlName="maxDiscount"> </p-inputNumber>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Product List Table  -->
<div class="card">
    <p-table #dt [value]="filteredProductList" [(selection)]="filteredProductList" dataKey="id" [loading]="loading" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0" [globalFilterFields]="['name','category']">
        <!-- Search Bar -->
        <ng-template pTemplate="caption">
            <div class="table-header w-12 flex md:flex-row flex-column md:justify-content-between justify-content-start md:align-items-center align-items-end gap-2">
                <span class="p-input-icon-right w-12 flex-grow-1">
                    <i class="pi pi-search"></i>
                    <input class="w-12" pInputText type="text"
                        (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search for product" />
                </span>
                <p-button class="max-w-min" (click)="clearFiltering()" pTooltip="Clear Filter" icon="pi pi-trash" styleClass="p-button-danger"></p-button>
            </div>
        </ng-template>
        <!-- Table header -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        Product Image
                    </div>
                </th>
                <th pSortableColumn="name" style="min-width: 14rem">
                    <div class="flex flex-row justify-content-start align-items-center gap-2">
                        Product Name
                        <p-sortIcon field="name"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="price" style="min-width: 14rem">
                    <div class="flex justify-content-start align-items-center gap-2">
                        Price
                        <p-sortIcon field="price"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="discount" style="min-width: 14rem">
                    <div class="flex justify-content-start align-items-center gap-2">
                        Discount
                    </div>
                </th>
            </tr>
        </ng-template>
        <!-- Table list -->
        <ng-template pTemplate="body" let-filteredProductList>
            <tr>
                <td>
                    <img src="{{ filteredProductList.image }}" width="32" style="vertical-align: middle" />
                </td>
                <td>
                    <span class="p-column-title">Name</span> {{ filteredProductList.name }}
                </td>
                <td>
                    <span class="p-column-title">Price</span> {{ filteredProductList.price | currency: 'USD':'symbol' }}
                </td>
                <td>
                    <span class="p-column-title">Discount</span> {{ filteredProductList.discount | currency: 'USD':'symbol' }}
                </td>
            </tr>
        </ng-template>
        <!-- When there is no data in table -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No product found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>